<div class="header">
  <h1>TFL Tube Status
    <button role="button" aria-label="Get Status" onclick= {{perform getTubeStatus}}>
      {{#if getTubeStatus.isRunning}}
        {{fa-icon "refresh" size=2 spin=true}}
      {{else}}
        {{fa-icon "refresh" size=2 spin=false}}
      {{/if}}
    </button>
    {{#link-to 'filter' tagName="span"}}{{fa-icon "filter" spin=false}}{{/link-to}}
  </h1>
</div>

<div class="main">
  <ul>
    {{#each tubeStatus as |line|}}
      {{tube-line line=line}}
    {{/each}}

    {{#unless tubeStatus}}
      <li class="noneSelected">No Lines selected</li>
    {{/unless}}
  </ul>
</div>

<div class="footer">
  <p>Last update: {{time}}</p>
</div>
